.container {
    width: 1200px;
    height: 700px;
    overflow: hidden;
    position: relative;
  }
  
  .slide {
    display: flex;
    width: max-content;
    position: absolute;
    left: 0;
    top: 0;
    transition: left 1s ease;
  }
  .slide img {
    width: 1200px;
    height: 100%;
    flex-shrink: 0;
  }
  