.container { 
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */

    /* 3 */
    width: 1200px;
}
.slide { 
    width: 100%;
    display: flex;
    overflow: hidden;

}
.slide img { 
    width: 1200px;
    transition: transform 1s ease;
}