/* 초기화 */
* {margin: 0; padding: 0; box-sizing: border-box;}
ul { list-style-type: none;}
a { text-decoration: none; color: black;}

/* 헤더 */
header { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    height: 90px;
    background-color: black;
}

header * { color: white;}

/* 네비게이션 */
nav { height: 100%;
    display: flex;
    align-items: center;
}
nav .gnb {
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 20px;
    overflow: hidden;
}
nav .gnb li {
    display: flex;
    align-items: center;
    padding: 30px 20px;
}
nav .gnb li a {
    display: flex;
}
nav .gnb li:hover a {
    animation: slideup 0.2s ease, toTop 0.2s 0.2s ease forwards;
}
@keyframes slideup {
    0% { transform: translateY(0%);}
    100% { transform: translateY(-70%);}
}
@keyframes toTop {
    0% { transform: translateY(70%);}
    100% { transform: translateY(0%);}
}


/* 유틸 */
.util {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}
.util div { display: flex; align-items: center; gap: 20px;}
.util .langs a {opacity: 0.5;}
.util .langs a.active { opacity: 1;}
.util .sns {position: relative; top: 3px;}
.util .sns img {height: 20px; opacity: 0.8;}
.util .sitemap {position: relative; top: 3px;}
.line { 
    width: 1px; 
    height: 24px; 
    background-color: rgba(255,255,255,0.8);
}

/* 마우스 커서 효과 */
.cursor {
    display: none;
    position: fixed;
    width: 50px;
    height: 50px;
    border: 2px solid white;
    border-radius: 50%;
    transition: 0.01s linear;
    /* 요소와 배경의 혼합 방식을 지정하는 속성 */
    mix-blend-mode: difference; /* 배경과 반대 */
    /* 마우스 이벤트 무시 */
    pointer-events: none;
}

body { 
    background-color: white;
}